@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Custrs";
}

<h2>@ViewBag.Title</h2>

@if (!Model.Any())
{
    <p>We don't have any customers yet</p>
}
else
{
    <table id="customers" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Membership Type</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)</td>
                    <td>@customer.MembershipType.Name</td>
                    <td>
                        <button data-customer-id="@customer.Id" class="btn-link js-delete">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            // throwing .js-delete as a second filter argument only tacks on ONE function for the whole customer
            // row, instead of a function per row. Optimizes code.

            $("#customers").on("click", ".js-delete",function () {
                let button = $(this)
                bootbox.confirm("Are you sure you'd like to delete this customer?", function (result) {
                    if (result) {
                        $.ajax({
                            url: '/api/customers/' + button.attr('data-customer-id'),
                            error: function () {
                                console.log('Error has occured on deletion.')
                            },
                            success: function () {
                                let tableRow = button.parent().parent()
                                tableRow.remove()
                                console.log("The customer has been deleted")
                            },
                            type: 'DELETE'
                        })
                    }
                })
            })
        });
    </script>
}
